/*
 * This was puti nto a separate css file for the simple
 * reason that the notice was irellevant to the content
 * of the website. but when I am thinking about it, it
 * might make sense to keep different things in different
 * separate stylesheets. like have top level divs in their
 * own stylesheets.
 *
 * If I have done this.. well, hooray, probably forgot to edit
 * this comment though.
 * if not, well, my style.css is probably stupidly long by now,
 * not like it is particuarily hard to keep separate stylesheets
 * anyway... what the hell was I even thinking.
 */

div#notice h3 {
    margin-top: 0px;
}

span#noticecontent {
    color: #FFF8E7;
}

span#noticecontent:hover {
    color: black;
}
