a {
    display: block;
    width: 100px;
    height: 100px;
}

a#fb {
    background: url("resources/f1.png");
}

a#fb:hover {
    background: url("resources/f2.png");
}

a#gp {
    background: url("resources/g1.png");
}

a#gp:hover {
    background: url("resources/g2.png");
}

a#in {
    background: url("resources/in1.png");
}

a#in:hover {
    background: url("resources/in2.png");
}
